[Desktop Entry]
Name=org-protocol
Comment=Intercept calls from emacsclient to trigger custom actions
Categories=Office;
Keywords=org-protocol;
Icon=emacs
Type=Application
Exec=emacsclient-visual.sh -- %u
Terminal=false
StartupWMClass=Emacs
MimeType=x-scheme-handler/org-protocol;
