[submodule "guake/guake-colors-solarized"]
	path = guake/guake-colors-solarized
	url = https://github.com/coolwanglu/guake-colors-solarized
[submodule "idea/intellij-colors-solarized"]
	path = idea/intellij-colors-solarized
	url = https://github.com/jkaving/intellij-colors-solarized
[submodule "vim/bundle/neobundle.vim"]
	path = nvim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash/dircolors-solarized"]
	path = bash/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "bash/bashmarks"]
	path = bash/bashmarks
	url = https://github.com/aam-at/bashmarks
[submodule "spacemacs/writing/local/textlint"]
	path = spacemacs/writing/local/textlint
	url = https://github.com/DamienCassou/textlint
[submodule "general/fonts/powerline"]
	path = general/fonts/powerline
	url = https://github.com/powerline/fonts
[submodule "general/fonts/emacs-icons"]
	path = general/fonts/emacs-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "general/fonts/source-code-pro"]
	path = general/fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
	branch = release
[submodule "catppuccin/alacritty"]
	path = config/catppuccin/alacritty
	url = https://github.com/catppuccin/alacritty
[submodule "catppuccin/gitui"]
	path = config/catppuccin/gitui
	url = https://github.com/catppuccin/gitui
[submodule "catppuccin/fish"]
	path = config/catppuccin/fish
	url = https://github.com/catppuccin/fish
[submodule "catppuccin/delta"]
	path = config/catppuccin/delta
	url = https://github.com/catppuccin/delta
[submodule "ranger/devicons"]
	path = config/ranger/plugins/devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "ranger/archives"]
	path = config/ranger/plugins/archives
	url = https://github.com/maximtrp/ranger-archives
[submodule "ranger/fzf_filter"]
	path = config/ranger/plugins/fzf_filter
	url = https://github.com/MuXiu1997/ranger-fzf-filter
