[submodule "guake/guake-colors-solarized"]
	path = guake/guake-colors-solarized
	url = https://github.com/coolwanglu/guake-colors-solarized
[submodule "idea/intellij-colors-solarized"]
	path = idea/intellij-colors-solarized
	url = https://github.com/jkaving/intellij-colors-solarized
[submodule "vim/bundle/neobundle.vim"]
	path = nvim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash/dircolors-solarized"]
	path = bash/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "bash/bashmarks"]
	path = bash/bashmarks
	url = https://github.com/aam-at/bashmarks
[submodule "spacemacs/writing/local/textlint"]
	path = spacemacs/writing/local/textlint
	url = https://github.com/DamienCassou/textlint
[submodule "fonts/powerline"]
	path = general/fonts/powerline
	url = https://github.com/powerline/fonts
[submodule "fonts/emacs-icons"]
	path = general/fonts/emacs-icons
	url = https://github.com/domtronn/all-the-icons.el
