[submodule "guake/guake-colors-solarized"]
	path = guake/guake-colors-solarized
	url = https://github.com/coolwanglu/guake-colors-solarized
[submodule "idea/intellij-colors-solarized"]
	path = idea/intellij-colors-solarized
	url = https://github.com/jkaving/intellij-colors-solarized
