[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
After=graphical-session.target

[Service]
Type=forking
Environment="TERM=xterm-24bit:SPACEMACSDIR=~/.spacemacs.d:SSH_AUTH_SOCK=%t/keyring/ssh"
EnvironmentFile=%h/.bash_env
ExecStart=/usr/bin/emacs --init-directory=~/.emacs.d --daemon
ExecStop=/usr/bin/emacsclient --eval "(spacemacs/kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target