[Unit]
Description=LanguageTool Server
After=network.target snapd.apparmor.service

[Service]
Type=simple
ExecStart=java -cp /snap/languagetool/current/usr/bin/languagetool-server.jar org.languagetool.server.HTTPServer --port 8088 --allow-origin
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
